.glos-item {
  display: flex;
  align-items: center;
}

.glos-words,
.glos-translations,
.glos-clues,
.glos-translation-clues {
  display: inline-block;
}

.glos-translations, .remove-button, .glos-translation-clues {
  margin-left: 2em;
}

.glos-clues {
  margin-left: 3em;
}
