.glos-item {
  display: flex;
  align-items: center;
}

.glos-words,
.glos-translations,
.glos-clues,
.glos-translation-clues {
  display: inline-block;
}

.glos-translations, .remove-button, .glos-clues, .glos-translation-clues {
  margin-left: 10px;
}